body {
  max-width: 990px;
  margin: 0 auto;
  padding: 1em;
  -webkit-text-size-adjust: 100%;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  background: #e0e0e0;
  
}

img {
  max-width: 50%;
  border: 0;
  vertical-align: middle;
  align-items: center;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow:  41px -41px 82px #bebebe,
             -41px 41px 82px #ffffff;

}

a {
  color: rgb(23, 49, 201);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

h1,
h2,
h3 {
  margin-top: 0.5em;
  text-align: center;
}
/* Deixar menu de links na orizontal */
@media (min-width: 540px) {
  #navigation {
    list-style: none;
    padding: 0%;
    color: rgb(0, 0, 0);
  }

  #navigation li {
    display: inline-block;
    color: black;
  }

  #navigation li:not(:first-child)::before {
    content: ' | ';
  }
}

/*Rodapé */
.footer {
  width: 100%;
  height: 100px;
  bottom: 0;
  padding-top: 0px;
  float: left;
  bottom: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}